
/*-------------------------------------------------------------*/
/* FONTS  */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic);

/*-------------------------------------------------------------*/
/* GLOBAL DEFAULTS */

* { 
  margin:0; padding: 0;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body{ 
  margin: 0; 
  padding: 0; 
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
cite, code, img, small, strike, strong, em, sub, sup, tt, dd, dl, dt, 
li, ol, ul, fieldset, form, label, legend, button, table, caption, 
tbody, tfoot, thead, tr, th, td, section, div, input{ 
  margin: 0; 
  padding: 0; 
  border: 0; 
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 100%; 
  line-height: 1;
  text-align: inherit;
  font-weight: 300;
}

a{
  text-decoration: none;
  color: inherit;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* IE < 8 */
}

/*-------------------------------------------------------------*/
/* INPUT TEXT */

input{
  display: inline-block;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea{
  height: 24px;
  width: 138px;
  font-size: 14px;
  background-color: #f8f8f8;
  border: 1px solid #d0d0d0;
  padding: 0px 6px;
  font-weight: 300;
  line-height: 17px;
  color: black;
}

textarea{
  min-height: 160px;
  min-width: 400px;
  resize: none;
  padding: 6px;
}

textarea:hover, input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="tel"]:hover{
  border-color: #999;
}

textarea:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="tel"]:focus{
  outline: none;
  border-color: #6C8CD5;
  background-color: #fdfdfd;
}

/*-------------------------------------------------------------*/
/* BUTTONS */

.button, input[type="submit"]{
  font-weight: 300;
  margin: 5px;
  background-color: #e8e8e8;
  border: 1px solid #d0d0d0;
  color: #555;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;

  padding: 0px 12px;
  height: 26px;
  line-height: 20px;
  font-size: 13px;
  min-width: 80px;
}

.button:hover, input[type="submit"]:hover{
  background-color: #eee;
}

.button:active, input[type="submit"]:active{
  position: relative;
  top: 1px;
}

.button a{
  text-decoration: none;
  color: black;
  line-height: inherit;
}

input[type="submit"]:focus, button:focus{
  outline: none;
}

input[type="submit"]:disabled{
  color: #a0a0a0;
  cursor: default;
}

input[type="submit"]:disabled:hover{
  background-color: #a60000;
  color: #a0a0a0;
  cursor: default;
}

.following{
  opacity: 0.5;
}

/*-------------------------------------------------------------*/
/* DOC SPECIFIC */

.wrapper{
  width: 400px;
  height: 500px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -250px;
}

.pull-right{
  float: right;
}

/*-------------------------------------------------------------*/
/* GENERAL HEADERS */

h1 {
  font-size: 50px;
  font-weight: 300;
  display: inline;
}

@media all and (max-width: 699px){

  h1 {
    font-size: 24px;
    font-weight: 300;
    display: inline;
  }
}

h2{
  font-size: 24px;
}

input[type="checkbox"]{
  visibility: hidden;
}

label{
  margin: 0;
  padding: 0;
}

input[type="checkbox"]:checked + .modal-background{
  visibility: visible;
}   

input[type="checkbox"]:checked + .modal-contents{
  visibility: visible;
} 

.modal-contents{
  visibility: hidden;
}

.modal-contents .modal-background{
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  position: fixed; 
  background-color: rgba(0,0,0,0.8);
}

.modal-contents .modal{
  padding: 20px;
  z-index: 10;
  position: fixed; 
  top: 50%; 
  left: 50%; 
  margin-top: -70px;
  margin-left: -300px;
  height: 140px;
  width: 600px;
  background-color: white;
}



/*-------------------------------------------------------------*/
/* MAIN */

#title{
  padding: 20px;
  border-bottom: 1px solid #a0a0a0;
}

.main-contents-wrapper{
  height: 100%;
  margin: 0 auto;
}

.main-contents{
  width: 560px;
  margin: 0 auto;
  padding: 40px 20px;
  float: right;
}

#submit{
  margin: 40px;
}

#submit h2{
  font-size: 24px;
  margin: 10px 0px;
}

#submit input{
  margin: 4px;
}

#all-pokemons{
  margin: 40px 20px;
}

.pokemon{
  margin: 30px 15px;
}

.pokemon h3{
  font-size: 40px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.rating{
  float: left;
  margin: 0px 10px;
  margin-top: 10px;
  height: 30px;
}

.pokemon p{
  font-size: 24px;
  margin: 0px 20px;
  margin-left: 60px;
  color: #a60000;
}

.rate{
  margin: 0px 5px;
  padding-bottom: 6px;
  font-size: 20px;
}

@media all and (max-width: 699px){

  #all-pokemons{
    margin: 40px 20px;
  }

  .pokemon{
    margin: 30px 0px;
  }

  .pokemon h3{
    font-size: 24px;
    margin-bottom: 10px;
  }

  .pokemon p{
    font-size: 16px;
    margin: 0px 20px;
    color: #a60000;
  }
}

.triangle-up{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #007bff transparent;
  margin-bottom: 5px;
}

.triangle-down{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #cc102f transparent transparent transparent;
}
