{% load staticfiles %}

<!doctype html>

<html>

<head>
	<title>Where's The Pokemon?</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
</head>

<body>

	<div class="main-contents-wrapper clearfix">
		{% csrf_token %}
		<div id="title">
			<h1><a href="{% url 'home' %}">Where's the POKEMON?</a></h1>
		</div>

		<form method="post" id="submit" action="{% url 'home' %}">{% csrf_token %}
			<h2>Help us out by submitting your own!</h2>
			<input name="name" type="text" placeholder="name">
			<input name="link" type="text" placeholder="link">
			<input type="submit" value="submit">
		</form>

		<div id="all-pokemons">
			{% for pokemon in all_pokemon %}

			<div>
				<div class="rating clearfix">
					<form method="post" action="{% url 'vote' pokemon.pk %}">{% csrf_token %}
						<div class="up">
							<input type="submit" name="vote" class="triangle-up" value="{{1}}">
						</div>
						<div class="rate">{{pokemon.vote}}</div>
						<div class="down">
							<input type="submit" name="vote" class="triangle-down" value="{{-1}}">
						</div>
					</form>

				</div>
				<div class="pokemon clearfix">
					<h3>
						<a target="_blank" href="{{pokemon.link}}">{{pokemon.name}}</a>
					</h3>
					<p>
						Link: <a target="_blank" href="{{pokemon.link}}">{{pokemon.link}}</a>
					</p>
				</div>
			</div>



			{% endfor%}
		</div>
	</div>


</body>

</html>